<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Cache-control" content="public">
  <title>
    Historic Cucumber Scenario runs report file
  </title>
  <!-- Custom Theme Style -->
  <style type="text/css">
    body {
      color: #393F44;
      background: #ece6ea;
      font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
      margin: 25px;
      font-size: 13px;
      font-weight: 400;
      line-height: 1.471;
    }

    .main_container {
      padding: 10px 20px 0;
    }

    i span {
      display: none;
    }

    /* Table */
    table {
      width: 850px;
      padding: 1px;
      margin-top: 30px;
      border-bottom: 1px solid;
      border-color: #84a6bb;
    }

    th,
    td {
      border-right: 1px solid;
      border-color: #84a6bb;
    }

    tr:nth-child(odd) {
      background-color: #eee;
    }

    tr:nth-child(even) {
      color: #eee;
      background-color: #3a4e59;
    }

    tr:nth-child(even) code {
      font-size: 9.5px;
      font-family: monospace;
      color: #ddd;
      line-height: 1.2em;
      page-break-inside: avoid;
      word-wrap: break-word;
      overflow-x: auto;
    }

    tr:nth-child(even) a {
      color: #8992FF;
    }

    code {
      font-size: 9.5px;
      font-family: monospace;
      color: #2e404d;
      line-height: 1.2em;
      page-break-inside: avoid;
      word-wrap: break-word;
      overflow-x: auto;
    }

    pre {
      font-size: 9.5px;
      font-family: monospace;
      white-space: -moz-pre-wrap;
      /* Mozilla, supported since 1999 */
      white-space: -pre-wrap;
      /* Opera */
      white-space: -o-pre-wrap;
      /* Opera */
      white-space: pre-wrap;
      /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
      word-wrap: break-word;
      /* IE 5.5+ */
    }

    .tc_detail {
      font-size: 11.5px;
    }

    .scenario_detail {
      margin-left: 2em;
    }

    .meter {
      height: 20px;
      position: relative;
      background: #E74C3C;
      box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
      max-width: 450px;
    }

    .meter>span {
      display: block;
      height: 100%;
      background-color: #1ABB9C;
      background-image: linear-gradient(center bottom,
          rgb(26, 187, 134) 37%,
          rgb(45, 215, 159) 69%);
      box-shadow:
        inset 0 2px 9px rgba(255, 255, 255, 0.3),
        inset 0 -2px 6px rgba(0, 0, 0, 0.4);
      position: relative;
      overflow: hidden;
    }

    /* colors */
    .ambiguous-color {
      color: #E74C3C !important;
    }

    .failed-color {
      color: #E74C3C !important;
    }

    .not-defined-color {
      color: #F39C12 !important;
    }

    .passed-color {
      color: #1ABB9C !important;
    }

    .pending-color {
      color: #FFD119 !important;
    }

    .skipped-color {
      color: #3498DB !important;
    }

    /* backgrounds */
    .ambiguous-background {
      background: #b73122 !important;
    }

    .failed-background {
      background: #E74C3C !important;
    }

    .not-defined-background {
      background: #F39C12 !important;
    }

    .passed-background {
      background: #1ABB9C !important;
    }

    .pending-background {
      background: #FFD119 !important;
    }

    .skipped-background {
      background: #3498DB !important;
    }
  </style>
</head>

<!--
    Expects the following variables:

    date: <currentDateTime>
    
    summary: {
      totalFiles: <numberOfFiles>,
      totalScenarios: <numberOfScenarios>,
      minReportDate: <minReportDate>,
      maxReportDate: <maxReportDate Or Today>,
    },

    rs: {
      '<reportFileName>': {
        total: totalScenarios,
        passed: <passedCount>,
        failed: <failedCount>,
        skipped: <skippedCount>
      }
    },

    scenarios: Object of all scenarios grouped by scenario Name, format
    {'<scenarioName>': {
        name: '<scenarioName>',
        numberOfExecutions: <numberOfTotalExecutions>,
        failures: <numberOfFailures>,
        passed: <numberOfPasses>,
        skipped: <numberOfSkipped>,
        executions: [{
            dateTime: '<dateInFormat dd-mm-yyy hh:mm:ss>',
            id: '<id>',
            status: '<status>',
            tags: [<tag1>, <tag2>, ...],
            steps: [{
                name: <stepName>,
                status: <stepStatus>,
                duration: <stepDuration>,
                error: '<errorDetail>',
                location: '<stepLocation>'
            }, ...]
        },...
    },
-->

<!-- TODO: Modify-->
<body>
  <h2>
        Historic Cucumber Scenario runs report.
        <strong>
        (<%= date %>)
        </strong>
  </h2>
  <ul>
    <li>Total report files: <%= summary.totalFiles %></li>
    <li>From <%= summary.minReportDate %> - <%= summary.maxReportDate %> and current report.</li>
    <li>Total Scenarios: <%= summary.totalScenarios %></li>
  </ul>

  <!-- Summary of reports -->
  <div>
    <details>
      <summary>
        <h2>Summary of report files</h2> (show ⤵)
      </summary>
        <ol>
        <% for (var rn in rs) { %>
          <li style="font-size: 11px;">
            <strong><%= rn %></strong>
            scenarios: <strong><%= rs[rn].total %></strong>
            &nbsp;&nbsp; passed: 
            <span class="passed-color">
              <strong><%= rs[rn]['passed'] %></strong>
              <!-- total executions-->
              (<%= parseInt(parseFloat((rs[rn].passed*100)/(rs[rn].total)).toFixed(1)) %>%)
            </span>
            &nbsp;&nbsp; failed:
            <span class="failed-color">
                <strong><%= rs[rn]['failed'] %></strong>
                (<%= parseInt(parseFloat((rs[rn].failed*100)/(rs[rn].total)).toFixed(1)) %>%)
            </span>
            &nbsp;&nbsp; skipped:
            <span class="skipped-color">
              <strong><%= rs[rn]['skipped'] %></strong>
              (<%= parseInt(parseFloat((rs[rn].skipped*100)/(rs[rn].total)).toFixed(1)) %>%)
            </span>
          </li>
        <% } %>
        </ol>
    </details>
  </div>

  <h2>Scenario Executions</h2>

  <!-- Each scenario -->
  <% for (var sn in scenarios) { %>
    <details>
      <summary>
        <big><strong><%= sn %></strong></big> 
         ⎼ 
        <span class="passed-color">✅: <%= scenarios[sn].passed %></span>,
        <span class="failed-color">❌: <%= scenarios[sn].failures %></span>,
        <span class="skipped-color">❔: <%= scenarios[sn].skipped %></span>,
        🚀: <strong><%= scenarios[sn].numberOfExecutions %></strong> - <i><%= scenarios[sn].id %></i>
        <p style="font-size: 13px; display: inline">
          Details ⤵
        </p>
      </summary>
        <!-- Each execution of scenario -->
        <% for (let i=0; i<scenarios[sn].executions.length; i++ ) { %>
          <details style="margin-left: 1em;">
            <summary>
              <%= scenarios[sn].executions[i].dateTime %> 
              <% if (scenarios[sn].executions[i]['status'] === 'failed') { %>
                <span class="failed-color">
                  (failed ❌)
              <% } else if (scenarios[sn].executions[i]['skipped'] === 'failed') { %>
                <span class="skipped-color">
                  (skipped ↝)
              <% } else { %>
                <span class="passed-color">
                  (passed ✅)
              <% } %>
              <% scenarios[sn].executions[i]['dateTime'] %>
              <strong>⤵ </strong>
            </summary>
            <div class="scenario_detail">
              <!-- steps of scenario -->
              <table>
              <tr>
                <td colspan="4">Tags:
                  <strong>
                  <% for (let indexTag=0; indexTag < scenarios[sn].executions[i]['tags'].length; indexTag++) { %>
                    <%= scenarios[sn].executions[i]['tags'][indexTag] %>
                  <% } %> &nbsp;
                  </strong>
                </td>
              </tr>
              <%# TODO: Add Bug Tags display  %>
              <tr>
                <th>Step</th>
                <th>Status</th>
                <th>Duration</th>
              </tr>
              <tr>
                <% for (let stepIndex=0; stepIndex < scenarios[sn].executions[i].steps.length; stepIndex++) { %>
                  <td>
                    <%= scenarios[sn].executions[i].steps[stepIndex]['name'] %>
                    <%= scenarios[sn].executions[i].steps[stepIndex]['name'] %>
                  </td>
                  <td>
                    <% if (scenarios[sn].executions[i].steps[stepIndex]['status']==='failed') { %>
                      <span class="failed-color">
                    <% } else if (scenarios[sn].executions[i].steps[stepIndex]['status']=='skipped') { %>
                        <span class="skipped-color">
                      <% } else if (scenarios[sn].executions[i].steps[stepIndex]['status']=='passed') { %>
                        <span class="passed-color">
                      <% } %>
                      <%= scenarios[sn].executions[i].steps[stepIndex]['status'] %>
                      </span>
                  </td>
                  <td>
                    <% if (scenarios[sn].executions[i].steps[stepIndex]['status']!=='skipped') { %>
                      <%= (scenarios[sn].executions[i].steps[stepIndex]['duration'] / 100000).toFixed(3) %> ms.
                      <i>
                      <%= (scenarios[sn].executions[i].steps[stepIndex]['duration'] / 100000000).toFixed(3) %> s.
                      </i>
                    <% } %>
                  </td>
                </tr>
              <tr>
                  <% if (scenarios[sn].executions[i].steps[stepIndex]['error'] !== '') { %>
                    <td colspan="4">
                      <details>
                        <summary>
                          <p style="font-size: 11px; display: inline">Error ⤵</p>
                        </summary>
                        <pre><%= scenarios[sn].executions[i].steps[stepIndex]['error'] %></pre>
                      </details>
                    </td>
                  <% } %>
                </tr>
              <% } %>
            </table>        
          </div>
          </details>
        <% } %>
    </details>
  <% } %>

</body>

</html>